body{
    background-color: whitesmoke;
}
.header{
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
}
.header img{
    width: 50px;
    margin-right: 20px;
}
canvas{
    -webkit-box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39); 
    box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39);
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.cool{
    -webkit-box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39); 
    box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39);
}
.nice{
    -webkit-box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39); 
    box-shadow: -7px 8px 13px 0px rgba(0,0,0,0.39);
}